# Database naming
MONGO_INITDB_DATABASE="emotes"
EMOJI_COLLECTION_NAME="emojis"
STICKER_COLLECTION_NAME="stickers"

# Database administrator credentials
MONGO_INITDB_ROOT_USERNAME="admin"
MONGO_INITDB_ROOT_PASSWORD="password"

# Database user credentials (used by the container)
MONGO_INITDB_USERNAME="user"
MONGO_INITDB_PASSWORD="pass"
